## Editor
.idea/
*.iml
*.iws
.vscode

## OSX
.DS_Store

## Windows
Thumbs.db
Desktop.ini

## Maven
log/
target/
*.class

## Package Files
*.jar
*.war
*.ear

## NodeJS
node_modules
logs
*.log
.npm
npm-debug.log*

## Assets
src/main/resources/static/css/
src/main/resources/static/js/
