.card {
    background-color: $white;
    box-shadow: 0 3px 6px $black;
    margin: 10px auto 15px;
    padding: 10px;

    @include breakpoint(min-width 768px) {
        max-width: 350px;
    }

    @include breakpoint(min-width 1024px) {
        max-width: 320px;
    }

    &__picture {
        margin: 0;
        min-height: 307px;
        padding: 0;

        img {
            height: 300px;
            width: 100%;
        }
    }

    &__caption {
        color: $black;
        font-weight: 400;
        margin: 0;
        padding-left: 4em;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}