<footer class="footer text-center">
    <small>Ominidi.org - [[${#dates.format(#dates.createNow(), 'YYYY')}]]</small>

    <div class="footer__license">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
        </a>

        <br/>

        <small>
            Quest'opera è distribuita con Licenza <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribuzione 4.0 Internazionale</a>.
        </small>
    </div>

    <div class="footer__license">
        <small>
            Il codice sorgente di quest'opera è distribuito con Licenza <a href="https://github.com/ominidi/ominidi.org/blob/master/LICENSE" rel="license" title="Licenza MIT">MIT</a>.
        </small>
    </div>
</footer>

<script th:src="@{/js/sw-registration.js}"></script>
<script th:src="'/js/bundle' + ${@environment.acceptsProfiles('production') ? '.min.js' : '.js'}" defer></script>
