<header class="main__header">
    <figure class="imaginery" style="background-image: url('/img/fractal.png');"></figure>
    <h1 class="main__title">
        Ominidi
    </h1>
</header>

<nav class="navbar">
    <ul class="navbar__menu">
        <li class="navbar__menu__item">
            <a href="/manifesto" title="manifesto" class="navbar__menu__link to-manifest"></a>
        </li>

        <li class="navbar__menu__item">
            <a href="/foto" title="foto" class="navbar__menu__link to-photos"></a>
        </li>

        <li class="navbar__menu__item">
            <a href="/attributions" title="attributions" class="navbar__menu__link to-attributions"></a>
        </li>

        <li class="navbar__menu__item">
            <a href="/downloads" title="downloads" class="navbar__menu__link to-downloads"></a>
        </li>
    </ul>
</nav>