<header class="masthead">
    <div class="imaginery__placeholder"></div>

    <h1 class="masthead__title">
        <a href="https://www.ominidi.org" title="Ominidi.org" class="color-white">
            <img src="/img/ominidi.org.png" title="Ominidi.org" alt="Ominidi.org" class="masthead__logo"/>
        </a>
    </h1>
</header>

<nav class="navbar">
    <ul class="navbar__menu">
        <li class="navbar__menu__item">
            <a th:href="@{/manifesto}" title="Manifesto" class="navbar__menu__link to-manifest" th:classappend="${current} eq 'manifest' ? 'current'"></a>
        </li>

        <li class="navbar__menu__item">
            <a th:href="@{/foto}" title="Foto" class="navbar__menu__link to-photos" th:classappend="${current} eq 'photos' ? 'current'"></a>
        </li>

        <li class="navbar__menu__item">
            <a th:href="@{/attributions}" title="Attributions" class="navbar__menu__link to-attributions" th:classappend="${current} eq 'attributions'? 'current'"></a>
        </li>

        <li class="navbar__menu__item">
            <a th:href="@{/downloads}" title="Downloads" class="navbar__menu__link to-downloads" th:classappend="${current} eq 'downloads'? 'current'"></a>
        </li>
    </ul>
</nav>