.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.color-black {
  color: #000;
}

.color-white {
  color: #FFF;
}

.color-magenta-500 {
  color: #FF0077;
}

.color-yellow-500 {
  color: #EEFF00;
}

.color-green-500 {
  color: #B4FF00;
}

.color-blue-500 {
  color: #0019FF;
}

.color-grey-800 {
  color: #2E2E2E;
}

.color-grey-500 {
  color: #95989A;
}

.color-grey-200 {
  color: #E2E2E2;
}

.color-grey-100 {
  color: #EFEFEF;
}

.main {
  margin: 0;
  padding: 0;
}

.main__header {
  display: flex;
  flex-direction: column;
  height: 105px;
  justify-content: center;
  position: relative;
}

@media (min-width: 1024px) {
  .main__header {
    height: 550px;
  }
}

.main__title {
  color: #FFF;
  font-size: 2.875em;
  font-weight: bold;
  margin: 0;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .main__title {
    font-size: 3.375em;
  }
}

.main__footer {
  padding: 10px;
}

.section {
  margin: 0 auto;
  padding: 27px 29px;
  width: 100%;
}

@media (min-width: 1024px) {
  .section {
    padding: 33px 180px;
    max-width: 1024px;
  }
}

.section__title {
  color: #FFF;
  margin: 0;
  text-align: center;
}

h1, .title-1,
h2, .title-2,
h3, .title-3,
h4, .title-4 {
  font-weight: inherit;
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h1,
.title-1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2,
.title-2 {
  font-size: 3.375em;
}

h3,
.title-3 {
  font-size: 2.25em;
}

h4,
.title-4 {
  font-size: 1.5em;
}

h5,
.title-5 {
  font-size: 1em;
}

h6,
.title-6 {
  font-size: 0.667em;
}

p {
  font-size: 1em;
  margin-bottom: 1.3em;
}

a,
.link {
  color: #B4FF00;
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

a:visited,
.link:visited {
  color: inherit;
}

.btn {
  background-color: #FFF;
  border: none;
  box-shadow: 0 3px 6px #000;
  color: #000;
  display: inline-block;
  padding: 12px 23px;
  text-align: center;
}

.btn--square {
  padding: 12px 12px;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background-color: #FFF;
}

.btn--secondary {
  background-color: #EEFF00;
}

.section {
  margin: 0 auto;
  padding: 27px 29px;
  width: 100%;
}

@media (min-width: 1024px) {
  .section {
    padding: 33px 180px;
    max-width: 1024px;
  }
}

.section__title {
  color: #FFF;
  margin: 0;
  text-align: center;
}

.imaginery {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.main {
  margin: 0;
  padding: 0;
}

.main__header {
  display: flex;
  flex-direction: column;
  height: 105px;
  justify-content: center;
  position: relative;
}

@media (min-width: 1024px) {
  .main__header {
    height: 550px;
  }
}

.main__title {
  color: #FFF;
  font-size: 2.875em;
  font-weight: bold;
  margin: 0;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .main__title {
    font-size: 3.375em;
  }
}

.main__footer {
  padding: 10px;
}

.navbar {
  background-color: #FFF;
  box-shadow: 0 3px 6px #000;
  height: 45px;
}

.navbar__menu {
  display: flex;
  height: 100%;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar__menu__item {
  height: 100%;
  width: 45px;
  text-align: center;
}

.navbar__menu__link {
  background: center no-repeat;
  color: #000;
  display: block;
  height: 100%;
}

.navbar__menu__link:hover {
  text-decoration: none;
}

.navbar__menu__link.to-manifest {
  background-image: url("/img/icons/ominide_1.svg");
}

.navbar__menu__link.to-manifest:hover, .navbar__menu__link.to-manifest.current {
  background-color: #FF0077;
}

.navbar__menu__link.to-photos {
  background-image: url("/img/icons/ominide_2.svg");
}

.navbar__menu__link.to-photos:hover, .navbar__menu__link.to-photos.current {
  background-color: #B4FF00;
}

.navbar__menu__link.to-attributions {
  background-image: url("/img/icons/ominide_3.svg");
}

.navbar__menu__link.to-attributions:hover, .navbar__menu__link.to-attributions.current {
  background-color: #EEFF00;
}

.navbar__menu__link.to-downloads {
  background-image: url("/img/icons/ominide_4.svg");
}

.navbar__menu__link.to-downloads:hover, .navbar__menu__link.to-downloads.current {
  background-color: #0019FF;
}

.navbar__menu__link .i,
.navbar__menu__link .icon,
.navbar__menu__link span {
  vertical-align: middle;
}

@font-face {
  font-family: 'LiberationSans';
  src: url("/fonts/LiberationSans-Regular.woff") format("woff"), url("/fonts/LiberationSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: url("/img/concrete_seamless.png") repeat;
  font-size: 15px;
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: rgba(0, 0, 0, 0.85);
  color: #95989A;
  font-family: 'LiberationSans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

/*# sourceMappingURL=style.css.map */
