.photos {
    @include breakpoint(min-width 1024px) {
        padding: 33px 0;
    }

    .photos__feed {
        display: flex;
        flex-direction: column;

        @include breakpoint(min-width 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        flex: 0 1 auto;

        @include breakpoint(min-width 768px) {
            margin: 0 7.5px;
        }
    }
}
