<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="partials/meta">
</head>
<body>
    <header th:replace="partials/header"></header>

    <main id="main" class="main" role="main">
        <section class="section-template">
            <header class="section__header">
                <h2 class="section__title title-2">
                    Attributions
                </h2>
            </header>

            <article class="attributions__content">
                <p>
                    Ominidi è stato interamente ideato e creato con software
                    e materiali con licenza Free, Open Source o Creative Commons. <br/>
                </p>

                <h3>Software</h3>

                <p>
                    Segue un elenco di tutti i gli strumenti utilizzati per la creazione del sito web, degli adesivi e del materiale relativo ad Ominidi.
                </p>

                <ul>
                    <li>
                        <a href="http://www.openoffice.org/it/" title="Apache Open Office">
                            Apache Open Office
                        </a>
                    </li>
                    <li>
                        <a href="https://inkscape.org/it/" title="Inkscape">
                            Inkscape
                        </a>
                    </li>
                    <li>
                        <a href="https://www.getpaint.net/" title="Paint.net">
                            Paint.net
                        </a>
                    </li>
                    <li>
                        <a href="http://pencil.evolus.vn/" title="Pencil Project">
                            Pencil Project
                        </a>
                    </li>
                    <li>
                        <a href="https://www.jetbrains.com/idea/#chooseYourEdition" title="IntelliJ Community Edition">
                            IntelliJ Community Edition
                        </a>
                    </li>
                </ul>

                <h3>Sviluppo</h3>

                <p>Il sito web di Ominidi è stato sviluppato con le seguenti tecnologie</p>

                <ul>
                    <li>
                        <a href="https://www.java.com/it/" title="Java">
                            Java
                        </a>
                    </li>
                    <li>
                        <a href="https://spring.io/" title="Spring">
                            Spring
                        </a>
                    </li>
                    <li>
                        <a href="https://git-scm.com/" title="Git">
                            Git
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/" title="Github">
                            Github
                        </a>
                    </li>
                </ul>

                <h3>Materiali</h3>

                <ul>
                    <li>
                        <a href="https://sciencevsmagic.net/" title="Nico Disseldrop">
                            L'immagine del frattale è di Nico Disseldrop
                        </a>
                    </li>
                    <li>
                        <a href="https://pagure.io/liberation-fonts" title="Liberation Sans">
                            I font del sito web appartengono alla famiglia Liberation Sans
                        </a>
                    </li>
                </ul>
            </article>
        </section>

        <footer th:replace="partials/footer"></footer>
    </main>
</body>
</html>