<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="partials/meta">
</head>
<body>
<header th:replace="partials/header"></header>

<main id="main" class="main">
    <section class="section-template">
        <header class="section__header">
            <h2 class="section__title title-2">
                Attributions
            </h2>
        </header>

        <article class="attributions__content">
            <p>
                Ominidi.org è stato creato con software e materiali con licenza <a
                    href="https://www.gnu.org/licenses/license-list.it.html#GPLCompatibleLicenses"
                    title="Free Software license">
                Free Software</a>, <a href="https://opensource.org/licenses" title="Open Source licenses">Open
                Source</a> o <a href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons licese">Creative
                Commons</a>. <br/>
            </p>

            <h3>Software</h3>

            <p>
                Segue un elenco di tutti i gli strumenti utilizzati per la creazione del sito web, degli adesivi e del
                materiale relativo ad Ominidi.
            </p>

            <ul>
                <li>
                    <a href="http://www.openoffice.org/it/" title="Apache Open Office">
                        Apache Open Office
                    </a>
                </li>
                <li>
                    <a href="https://inkscape.org/it/" title="Inkscape">
                        Inkscape
                    </a>
                </li>
                <li>
                    <a href="https://www.getpaint.net/" title="Paint.net">
                        Paint.net
                    </a>
                </li>
                <li>
                    <a href="http://pencil.evolus.vn/" title="Pencil Project">
                        Pencil Project
                    </a>
                </li>
                <li>
                    <a href="https://www.jetbrains.com/idea/#chooseYourEdition" title="IntelliJ Community Edition">
                        IntelliJ Community Edition
                    </a>
                </li>
                <li>
                    <a href="https://www.virtualbox.org/" title="Virtual Box">
                        Virtual Box
                    </a>
                </li>
                <li>
                    <a href="https://github.com/" title="Github">
                        Github
                    </a>
                </li>
                <li>
                    <a href="https://www.chromium.org/Home" title="Chromium">
                        Chromium
                    </a>
                </li>
            </ul>

            <h3>Sviluppo</h3>

            <p>Il sito web di Ominidi è stato sviluppato con le seguenti tecnologie</p>

            <ul>
                <li>
                    <a href="https://www.java.com/it/" title="Java">
                        Java
                    </a>
                </li>
                <li>
                    <a href="https://spring.io/" title="Spring">
                        Spring (mai più nella vita)
                    </a>
                </li>
                <li>
                    <a href="https://git-scm.com/" title="Git">
                        Git
                    </a>
                </li>
                <li>
                    <a href="https://www.docker.com/docker-ubuntu" title="Docker for Ubuntu">
                        Docker for Ubuntu
                    </a>
                </li>
                <li>
                    <a href="https://github.com/facebook/react" title="React">
                        React
                    </a>
                </li>
                <li>
                    <a href="https://threejs.org/" title="Three.js">
                        Three.js
                    </a>
                </li>
            </ul>

            <h3>Materiali</h3>

            <ul>
                <li>
                    L'immagine del frattale è di
                    <a href="https://sciencevsmagic.net/" title="Nico Disseldrop">Nico Disseldrop</a>
                </li>
                <li>
                    L'immagine di Cueva de las Manos usata per la pagina di errore è di
                    <a href="//commons.wikimedia.org/wiki/User:Marianocecowski" title="User:Marianocecowski">Mariano</a>
                </li>
                <li>
                    I font del sito web appartengono alla famiglia
                    <a href="https://pagure.io/liberation-fonts" title="Liberation Sans">Liberation Sans</a>
                </li>
                <li>
                    I testi e gli autori che hanno ispirato, o i cui lavori sono stati utilizzati da Ominidi, sono
                    citati nella pagina del <a th:href="@{/manifesto}" title="Manifesto">Manifesto </a>
                </li>
            </ul>
        </article>
    </section>

    <footer th:replace="partials/footer"></footer>
</main>
</body>
</html>