<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="partials/meta">
</head>
<body>
<header th:replace="partials/header"></header>

<main id="main" class="main" role="main">
    <section class="section-template error">
        <header class="section__header">
            <h2 class="section__title title-2">
                Errore
            </h2>
        </header>

        <article class="error__content">
            <figure class="imaginery" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/SantaCruz-CuevaManos-P2210651b.jpg/1200px-SantaCruz-CuevaManos-P2210651b.jpg')">
            </figure>
        </article>

        <footer class="text-center">
            <h5>
                La pagina che stavi cercando non esiste.
            </h5>
        </footer>
    </section>

    <footer th:replace="partials/footer"></footer>
</main>
</body>
</html>