<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="partials/meta">
</head>
<body>
<header th:replace="partials/header"></header>

<main id="main" class="main">
    <section class="error">
        <article class="error__content">
            <figure class="imaginery" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/SantaCruz-CuevaManos-P2210651b.jpg/1200px-SantaCruz-CuevaManos-P2210651b.jpg')"></figure>
        </article>
    </section>

    <footer th:replace="partials/footer"></footer>
</main>
</body>
</html>