<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ominidi.org</title>
    <meta name="description" content="Official website for Ominidi.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    {{> partials/header }}

    <main id="main" role="main">
        main
    </main>

    <footer>
        <small>ominidi.org</small>
    </footer>

    <script src="/js/index.js"></script>
</body>
</html>