<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="partials/meta">
</head>
<body>
    <header th:replace="partials/header"></header>

    <main id="main" class="main">
        <section class="section-template manifest">
            <header class="section__header">
                <h2 class="section__title title-2">
                    Manifesto
                </h2>
            </header>

            <article>
                <h3 class="color-white">Premessa</h3>

                <h4 class="color-white">1.1 Definizione</h4>

                <p>Gli ominidi (<em><a href="https://it.wikipedia.org/wiki/Hominidae">Hominidae Gray</a></em>, 1825), noti
                    anche come grandi scimmie, sono una famiglia di primati risalente al Miocene inferiore, alla quale
                    appartiene l'uomo.</p>

                <p>Di questa famiglia fanno parte gli oranghi, i gorilla, gli scimpanzé, i bonobo, il genere <em><a
                        href="https://it.wikipedia.org/wiki/Homo">Homo</a></em> e alcuni gruppi fossili, tra i quali gli
                    australopitechi [...][^1]</p>

                <h4 class="color-white">1.2 Evoluzione</h4>

                <p>I primi esemplari di <em><a
                        href="https://it.wikipedia.org/wiki/Australopithecus">Australopithecus</a></em> si evolsero in
                    Africa circa 4 milioni di anni fa.
                    Esseri dai numerosi tratti comuni sia alle scimmie antropomorfe che all'uomo, avevano un'andatura
                    tipicamente bipede ma erano ancora familiari all'arrampicarsi sui radi alberi [...][^2]</p>

                <p>Si ritiene che i progenitori del genere <em>Homo</em> si siano staccati dall <em>Australopithecus</em>
                    circa due milioni di anni fa [...]</p>

                <h4 class="color-white">1.3 Morfologia e comportamento</h4>

                <p>Animali di dimensione piccola, alti fra i 120 ed i 150 cm;
                    il cervello aveva dimensioni pari a circa il 35% di quelle del cervello del genere <em>Homo</em>.</p>

                <p>Un dimorfismo sessuale molto accentuato lascia presupporre che gli <em>Australopithecus</em> vivessero in
                    branco, guidati da un maschio alpha dominante. <br/>
                    E' probabile che gli austrolopitechi non usassero utensili (ad eccezione dello <em><a
                            href="https://it.wikipedia.org/wiki/Australopithecus_garhi">Australopithecus garhi</a>)</em> e
                    che non avessero sviluppato alcuna forma di linguaggio. <br/>
                    La comunicazione avveniva unicamente con <strong>versi e gesti</strong>.</p>

                <p>Di alimentazione principalmente vegetariana, la dieta era composta da bacche, radici e altri cibi di
                    natura vegetale; quando costretto si nutriva anche di piccoli insetti e mammiferi[^3]. <br/>
                    L'<em>Australopithecus</em> era principalmente <strong>nomade</strong>.</p>

                <h3 class="color-white">[Ir]Razionale</h3>

                <h4 class="color-white">2.1 Causa</h4>

                <p>L'<em>Homo sapiens</em>, specie del genere <em>Homo</em> è un <strong>parassita</strong>. <br/>
                    Lo studio della storia e dell'evoluzione umana, sin dagli albori delle prime civiltà, dev'essere
                    affrontato in chiave materialistica.</p>

                <p>Tutti gli sviluppi in ambito sociale, le convenzioni, le religioni, la scienza, l'economia, sono diretta
                    conseguenza della capacità dell'<em>Homo</em> di piegare a suo vantaggio l'ambiente in cui vive e si
                    riproduce, sfruttando le risorse naturali con <em>rapporti di produzione</em>[^4] che, oltre a
                    caratterizzare l'epoca storica a cui sono applicati (schiavismo, feudalismo e latifondo, capitalismo e
                    globalizzazione) distruggono e rimodellano artificialmente l'ecosistema terrestre.</p>

                <p>Nessuna forma di società con cui si è [auto]organizzato l'essere umano è riuscita ad armonizzarsi in modo
                    assoluto col pianeta Terra, neanche le più primigenie: <br/>
                    nè le prime popolazioni nomadi di cacciatori e raccoglitori, da cui sono nate strutture gerarchice
                    patriarcali, autoritarie e violente[^5][^6], nè le comunità stanziali di tipo agricolo, che per prime
                    hanno iniziato a modificare l'habitat da cui trarre sostentamento[^7].</p>

                <p>Le successive strutture sociali evolutesi nel corso del tempo vanno interpretate come continue e mutevoli
                    iterazioni sulle basi delle precedenti; un divenire di stravolgimenti economici e politici atti a
                    nutrire l'unica necessità intima e recondita che accomuna il genere umano: <strong>produrre</strong> e
                    <strong>consumare</strong>. <br/>
                    Una caratteristica innata dell'<em>Homo</em>, alienante, dannosa, distruttiva, non solo per la natura
                    che lo circonda ma anche per egli stesso.</p>

                <p>Le moderne dottrine economico/sociali (ie: capitalismo, socialismo, globalizzazione) hanno fallito nel
                    trovare una soluzione sostenibile ed equa, capace di diminuire il divario fra primi ed ultimi; <br/>
                    viceversa i vari esperimenti utopici (dalle teorizzazioni di Owen[^8] agli ecovillaggi sostenibili,
                    dalle comunità indios brasiliane[^9] fino all'Uruguay di Pepe Mujica) sono difficilmente attuabili su
                    larga scala.</p>

                <p>Le probabilità che il futuro porti in grembo una valida alternativa sono esili. <br/>
                    Studi su un futura società [dis][u]topica ove la forza produttiva è completamente basata sull'impiego di
                    manodopera robotica illustrano i rischi derivanti dalla convivenza uomo macchina, mentre la creazione di
                    un <em>ASI</em>, un dio alieno e onniscente, simulacro dell'Uno rappresenta la vana speranza di
                    <em>de</em> responsabilizzare l'uomo dalla morte e distruzione procurate al pianeta, affidandosi alla
                    suprema intelligenza di un essere artificiale e perfetto[^10].</p>

                <h4 class="color-white">2.2 Effetto</h4>

                <p>L'<strong>estinzione</strong> dell'uomo. <br/>
                    La scomparsa del <em>Sapiens</em> con la diffusione volontaria di un <em>meta</em> virus: gli <strong>ominidi</strong>.
                    <br/>
                    Il ritorno delle scimmie antropomorfe come unica forma di vita umanoide <em>involuta</em> libera di
                    calcare il suolo del pianeta terra.</p>

                <h3 class="color-white">Ominidi</h3>

                <p>Ominidi è il punto di arrivo di una serie di riflessioni personali in campo filosofico, politico e
                    antropologico, maturate durante i profondi e repentini cambiamenti sociali avvenuti durante i primi anni
                    del secondo millennio d.C.</p>

                <p>L'atto visceralmente anarchico di attaccare adesivi è un elemento di disturbo antagonista alla struttura
                    sociale moderna; <br/>
                    ogni adesivo, o tag, o manifesto è un ominide, un <em>virus</em> primitivo che proliferando mina le basi
                    dell'arrogante dominio umano sull'ecosistema terrestre, un gutturale urlo di protesta contro la
                    smisurata <em>hybris</em> del <em>Sapiens</em>.</p>

                <p>Ominidi è la somma di diverse esperienze multidisciplinari: street art, design e scrittura per dare una
                    forma concreta a ciò che era solo un'idea e l'informatica come <em>medium</em> per veicolare in rete il
                    messaggio in una forma libera e senza vincoli. <br/>
                    Tutto il materiale di Ominidi, dal codice sorgente dell'applicativo web, al materiale grafico con cui
                    sono stati creati i primi adesivi, sino al Manifesto stesso è <em>free</em> ed <em>open source</em>,
                    rilasciato con licenze MIT o Creative Commons.</p>

                <p>Infine Omindi è la valvola di sfogo di una rabbia [com][re]pressa attraverso l'autocontrollo, un viatico
                    per l'impotenza intellettuale e fisica di poter cambiare la realtà che ci circonda, la narrazione di
                    temi affascinanti (anarchia, robot ed AI, graffiti) attraverso suggestioni distopiche ed apocalittiche.
                    Ominidi non è nè uomo nè animale.</p>

                <h5 class="color-white">Note</h5>

                <p>[^1] Autori vari, <a href="https://it.wikipedia.org/wiki/Australopithecus">Wikipedia</a></p>

                <p>[^2] David A. Raichlen, Adam D. Gordon, William E. H. Harcourt-Smith, Adam D. Foster, Wm. Randall Haas,
                    Jr, <br/>
                    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2842428/">Laetoli Footprints Preserve Earliest
                        Direct Evidence of Human-Like Bipedal Biomechanics</a>, in PLoS ONE, vol. 5, nº 3, 2010, p. e9769,
                    DOI:10.1371/journal.pone.0009769, PMC 2842428, PMID 20339543.</p>

                <p>[^3] <a href="http://www.treccani.it/enciclopedia/paleonutrizione_(Universo-del-Corpo)/">Paleonutrizione
                    in “Universo del Corpo” – Treccani</a></p>

                <p>[^4] Karl Marx, <a href="https://www.marxists.org/italiano/marx-engels/1859/criticaep/">Per la Critica
                    dell'Economia Politica</a>, 1859</p>

                <p>[^5] Autori vari, <a href="http://ita.anarchopedia.org/Ipotesi_Kurgan">Ipotesi Kurgan</a></p>

                <p>[^6] Autori vari, <a href="https://it.wikipedia.org/wiki/Teoria_kurganica">Teoria kurganica</a></p>

                <p>[^7] John Zerzan, <a
                        href="http://www.contra-versus.net/uploads/6/7/3/6/6736569/john_zerzan_-_futuro_primitivoedizioni_nautilusita.pdf">Futuro
                    Primitivo</a>, 1994</p>

                <p>[^8] <a href="">Per una concezione della società e altri scritti</a>, Bari, Laterza, 1971, pp. 35-47; <a
                        href="http://la.utexas.edu/users/hcleaver/368/368OwenNewViewtable.pdf">A New View of Society</a>,
                    New York, MacMillan, 1972, pp. 41-60</p>

                <p>[^9] Vera Lúcia de Oliveira, <a href="http://www.gaffi.it/document/upload/ingegni/UtopiaSelvaggia.pdf">Utopia
                    Selvaggia</a>,Roma, 2006</p>

                <p>[^10] Nick Bostrom, <a href="http://www.nickbostrom.com/existential/risks.html">Existential Risks</a>,
                    Journal of Evolution and Technology, Vol. 9, No. 1 (2002)</p>

                <p>[^11] Nick Bostrom, <a
                        href="http://www.nickbostrom.com/views/superintelligence.pdf">Superintelligence</a>, 2009</p>
            </article>
        </section>
        <footer th:replace="partials/footer"></footer>
    </main>
</body>
</html>
